<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rewrite Spanish HTML">
                    <match url="^spanish$" />
                    <action type="Rewrite" url="spanish.html" />
                </rule>
                <rule name="Rewrite Russian HTML">
                    <match url="^russian$" />
                    <action type="Rewrite" url="russian.html" />
                </rule>
                <rule name="Rewrite Korean HTML">
                    <match url="^korean$" />
                    <action type="Rewrite" url="korean.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>